/* CSS Document for the sections */


/* Styling for the Index section */

.indexSec {
  display: flex;
}


.imageDiv {
  background-image: url(imesnow.jpg);
  height: 630px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.textDiv {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hgroup {
  position: relative;
}

.bigName {
  font-size: 200px;
  left: 50px;
  top: -270px;
  opacity: 0.05;
  position: absolute;
  white-space: nowrap;
  user-select: none;
}

.smallName {
  font-size: 50px;
}


/**/
