/* CSS Document for the sections */


/* Styling for the Index section */

.indexSec {
  display: flex;
}


.imageDiv {
  background-image: url(imesnow.jpg);
  height: 630px;
  width: 400px;
  background-size: cover;
  background-position: center;
}

.textDiv {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hgroup {
  position: relative;
}

.bigName {
  font-size: 130px;
  left: 65px;
  top: -240px;
  opacity: 0.05;
  position: absolute;
  white-space: nowrap;
  user-select: none;
  font-family: 'Rock Salt', cursive;
  z-index: -1;
}

.smallName {
  font-size: 40px;
  font-family: 'Rock Salt', cursive;
}


/*
font-family: 'KoHo', sans-serif;
font-family: 'Rock Salt', cursive;*/
